*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Times New Roman', Times, serif, Helvetica, sans-serif;
}

header{
    position:fixed;
    width:100%;
    height:80px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 80px;
    z-index:1000;
}
 header button{
    display: none;
 }

.logo img{
    height:60px;
}


nav ul{
    display:flex;
    list-style:none;
    gap:30px;
    padding:0;
    margin:0;
    align-items:center;
}

nav ul li{
    margin:0;
}

nav ul li a{
    display:block;
    padding:30px 18px;
    color:#222;
    text-decoration:none;
    transition:.3s;
}

nav ul li:hover>a{
    color:#0077cc;
}

.submenu{
    position:absolute;
    top:80px;
    left:0;
    background:white;
    width:220px;
    display:none;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.submenu li{
    display:block;
}

.submenu li a{
    padding:15px;
}

.dropdown:hover .submenu{
    display:block;
}

.hero{
    height:100vh;

    background-image: url("../Fondo.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display:flex;
    align-items:center;
    position:relative;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(255,255,255,.45);
}

.contenido{
    width: 100vw;
    text-align:center;
    background:rgba(255,255,255,0.88);
    padding:45px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.35);
    backdrop-filter:blur(5px);
}

.contenido h2{
    font-size:40px;
    font-weight:300;
}

.contenido h1{
    font-size:75px;
    color:#0d8ce6;
    margin:10px 0;
}

.contenido p{
    font-size:20px;
    line-height:32px;
    margin-bottom:35px;
}

.boton{
    background:#0077cc;
    color:white;
    text-decoration:none;
    padding:18px 40px;
    border-radius:4px;
    transition:.3s;
}

.boton:hover{
    background:#005ea0;
}

footer{
    background:#003b5c;
    color:white;
    margin-top:60px;
}

.footer-container{
    width:90%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:50px 0;
}

.modal{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    justify-content:center;
    align-items:center;
}


.modal-content{
    width:90%;
    max-width:500px;
    background:white;
    border-radius:15px;
    padding:30px;
    position:relative;
}

.modal-content h2{
    text-align:center;
    margin-bottom:25px;
    color:#0faed6f4;
}

.modal-content form{
    display:flex;
    flex-direction:column;
}

.modal-content input, .modal-content textarea{
    margin-bottom:15px;
    margin-top: 5px;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:20px;
}

.modal-content button{
    padding:15px;
    border:none;
    background:#0d8ce6;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

@media (max-width:768px){

    header{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
        padding:15px 20px;
    }

    header button{
        display: flex;
    }

    .logo{
        order:2;
    }

  nav{
        display:none;
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background:white;
        box-shadow:0 5px 15px rgba(0,0,0,.2);
    }

    nav ul{
        flex-direction:column;
        gap:15px;
        align-items: center;
    }

    nav.activo{
        display:block;
    }

    .menubtn{
        order:1;
        display:block;
        background:none;
        border:none;
        font-size:30px;
        cursor:pointer;
    }

}

.menu-btn{
    display: none;
    background:#0d8ce6;
    color:white;
    border:none;
    padding:10px 15px;
    font-size:25px;
    cursor:pointer;
    border-radius:8px;
}

.confirmacion{
    text-align:center;
    max-width:450px;
}

.confirmacion h2{
    color:#28a745;
    margin-bottom:20px;
}

.confirmacion p{
    margin-bottom:25px;
    line-height:1.6;
}